* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  background-color: aliceblue;
  color: #fff;
}

html, body {
  height: 100%;
}

#choose-table {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  transform: translateX(calc(-100% + 10px));

  background-color:rgb(0, 119, 255);
  opacity: 0.2;
  transition: transform 0.3s ease-in, opacity 0.3s;

  overflow: hidden auto;
  user-select: none;
}

#choose-table:hover {
  opacity: 0.9;
  transform: initial;
  transition: transform 0.3s ease-out, opacity 0.3s;
}

#choose-table > .list-item {
  background-color: #0af;
  cursor: pointer;

  padding: 8px 4px;
}

#choose-table > .list-item:hover {
  background: initial;
  transition: 0.5s;
}

#content {
  color: #000;
  background-color: rgb(213, 241, 255);
  word-break: break-all;
  text-align: center;
  height: 100%;
}

#tools {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  transform: translateY(calc(-100% + 10px));

  background-color: gray;
  opacity: 0.2;
  transition: transform 0.3s ease-in, opacity 0.3s;

  overflow: hidden auto;
  user-select: none;
}

#tools:hover {
  opacity: 0.9;
  transform: initial;
  transition: transform 0.3s ease-out, opacity 0.3s;
}